
.header{
    display: flex;
    margin-top: -15px;
    justify-content: space-around;
    background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT26aXZLYytxEepSQ6u0vpQ7d7XAmgqZydLoaEP0K9gHap-veSjfzDfC9CQhtcFAbiKfOM&usqp=CAU');

}



.header Link{
    text-align: right;
    justify-content: left;
    
}

.titulo{
    text-align: left;
    justify-content: left;
    padding-top: 2em;
}

.titulo h2{
    color: rgb(255, 255, 255);
    margin-left: -70px;
    font-size: 27px;
}
.titulo h1{
    color: rgb(255, 247, 0);
    margin-left: -70px;
}

.botonCreate{
    text-align: left;
    /* padding-left: 120vh; */
    padding-top: 4em;
}

 .botonCreate button{
    background-color: #59af4c6b; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.botonCreate button:hover{
    background-color: #1d3f0c5f ;
}

.headsortfilter{
    padding-top: 1em;
    padding-bottom: 1em;
    display: flex;
    flex-direction: row;
    margin-bottom: -10px;
    justify-content: space-around;
    background-color: rgb(68, 146, 68);
}

.headsortfilter select{
    display: flex;
    flex-direction: column;

}

.orden{
    display: flex;
    flex-direction: column;
    font-size: large;
    padding-left: 3vh;
    margin-top: -25px;

}

.orden select-hidden{
    display: none;
  visibility: hidden;
  padding-right: 10px;
}
.orden select{
    cursor: pointer;
  display: inline-block;
  position: relative;
  font-size: 16px;
  color: black;
  /* width: $select-width;
  height: $select-height; */
    border-style: groove;
background-color: rgb(174, 240, 255);
  padding: 8px 15px;
}

.orden h2{
    color: lavender;
}

.searchBar{
    margin-top: -55px;
    /* background: rgb(35, 119, 255); */
    text-align: left;
    /* padding-left: vh; */
    padding-top: 3em;
}

.pokesContainer{
    /* background: rgb(200, 255, 238); */
    background: url('https://w0.peakpx.com/wallpaper/928/440/HD-wallpaper-pixel-magikarp-fish-game-art-gaming-nintendo-pixel-art-pokemon-theme-video-games.jpg');
    /* padding-left: 10em; */
    padding-top: 2em;
    flex-direction: row;
    flex-wrap: nowrap;
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-gap: 90px;
    grid-auto-rows: minmax(100px, auto);
    justify-content: space-around;
} 

/* .cards{
} */

.paginado{
    background: rgb(200, 255, 238);
    text-align: center;
    margin-right: 2em;
}


.loader img{
    margin-left: 35em;
}

.link{
    text-decoration: none;
}

